.c-project {
  background: $white;
  margin: 5px 5px;
  flex: 0 1 100%;
  text-align: center;
  text-decoration: none;
  color: $primary-color;
  padding: 0 0; 
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: 500ms;

  @include breakpoint-min(md) {
    flex: 0 2 32%;
  }

  &__btn {
    width: 100%; 
    background: $primary-color;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
  }

  &__image {
    height:100%;
    overflow: hidden;
    position: relative;
    transition: 500ms;
    max-height: 200px;

    .img {
      overflow: hidden;
      transition: 500ms;
      min-height: 100%;
      background-size: cover;
      background-position: center;
      // max-width: reset;
    }
  }

  &:hover:not(.c-project--disabled){

    .c-project__image .img {
      transform: scale(1.1); 
    }
  }

  &--disabled {
    opacity: 0.6;
  }
}