body {
  font-family: $global-font-styles; 
}

p {
  margin-bottom: 15px; 
}

$heading-size-1: 3.5rem;
$heading-size-2: 2rem;
$heading-size-3: 1.7rem;
$heading-size-4: 1.3rem;
$heading-size-5: 1.1rem;
//caption size
$heading-size-6: 14px;

$header-weight: 300;

h1, 
%h1, 
.h1 {
  font-size: $heading-size-1; 
  font-weight: $header-weight;
  text-transform: uppercase; 
  margin-bottom: 1rem;
}

h2, 
%h2, 
.h2 {
  font-size: $heading-size-2; 
  font-weight: $header-weight;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

h3, 
%h3, 
.h3 {
  font-size: $heading-size-3; 
  font-weight: $header-weight;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h4, 
%h4, 
.h4 {
  font-size: $heading-size-4; 
  font-weight: $header-weight;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

h5, 
%h5, 
.h5 {
  font-size: $heading-size-5; 
  font-weight: $header-weight;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

h6, 
%h6, 
.h6 {
  font-size: $heading-size-6; 
  font-weight: $header-weight;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}


code {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: $transparent-primary2;
  color: $primary-color;
}