
$primary-color: #223a57; 
$secondary-color: #5E6F84;
$grey-color: #EEEEEE; 

$white: #fff; 
$black: #282828;

$transparent-primary: transparentize($primary-color, 0.3);
$transparent-primary2: transparentize($primary-color, 0.8);

$base-background-color: #F2F2F2;
$base-text-color: #282828;


